body{
    background-color:#4A7C59;
    font-family: Arial,sans-serif;
    margin: 20px;
}
h1{
    color: #D4A853;
    text-align: center;
}
h2{
    color: #A8C5A0;
}
p{
    font-size: 16px;
    line-height: 2;
}
a{
    text-decoration: none;
    color: #E2EDD9;
    margin-right: 15px;
}
a:hover {
    color:#1C2B1E;
}
ul{
    background-color: #D4A853;
    padding: 10px;
}
li{
    margin-bottom: 5px;
}
img{
    border-radius: 10px;
    margin-top: 10px;
}
.select{
    background-color: white;
    padding: 15px;
    margin-bottom: 20px;
    border-radius: 5px;
}
.highlight{
    color: green;
    font-weight: bold;
}